<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs', { links: links, currentUser: currentUser
    }) %>
    <div class="container mt-5 pt-4">
      <div class="row">
        <% if (recipes) { %> <% recipes.forEach(recipe => { %>
        <div class="col-md-12 mb-4">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-md-2">
                <% if (recipe.imageUrl) { %>
                <img
                  src="<%= recipe.imageUrl %>"
                  class="card-img"
                  alt="<%= recipe.name %>"
                />
                <% } else { %>
                <img
                  src="/images/default-recipe-image.jpg"
                  class="card-img"
                  alt="Default Image"
                />
                <% } %>
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-uppercase"><%= recipe.name %></h5>
                  <p class="card-text"><%= recipe.description %></p>
                  <p class="card-text">
                    <small class="text-muted"
                      >⏱ <%= recipe.cook_time %> min</small
                    >
                  </p>
                  <a href="/recipes/<%= recipe.id %>" class="btn btn-link p-0"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %> <% } %>
      </div>
      <a class="btn btn-primary mt-4" href="/recipes/create">Create a recipe</a>
    </div>
  </body>
</html>
